@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@400;600&family=Pacifico&family=Poppins:ital,wght@0,400;0,700;1,600&family=Roboto:wght@400;700&display=swap');

.main {
    text-align: center;
    justify-content: center;
    display: flex; 
    background-color: #fff;
    background: rgb(69,255,222);
    background: linear-gradient(90deg, rgba(69,255,222,0) 0%, rgba(69,255,222,0.15) 100%);
}

.sub-main {
    display: flex;
    justify-content: center;
    height: 620px;
    width: 35%;
    box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 40%);
    padding: 50px 0;
    border-radius: 15px; 
    background-color: white;
}

h1, h2, h3 {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    /* font-weight: 700; */
}

div .welcome {
    font-size: 40px;
    margin: 0%;
    font-weight: 700;
}

h1 img {
    width: 45px;
    height: 45px;
}

h2 {
    font-size: 35px;
    margin: 10px 0;
}

.email-sign-in-text, .password-sign-in-text {
    margin: 0px;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 600;
}

.imgs {
    padding: 10px 0;
    justify-content: center;
    display: flex;
}

.container-image {
    background-color: rgb(223, 221, 221); 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
} 

.login-name {
    width: 350px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
}

::placeholder{
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

div .email-sign-in-icon, .password-sign-in-icon {
    height: 35px;
    width: 35px;
    position: absolute;
    margin: 8px 0 0 15px;
    z-index: 3;
}

.login-name {
    padding-left: 70px;
    font-size: 20px;
}

.login-button {
    padding-top: 25px;
}

.second-input {
    padding-top: 20px;
}

.login-btn {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: #283EFF;
    border-radius: 2px solid #fff;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border: none;
}

.login-btn:hover {
    background-color: rgb(54, 121, 255);
    color: #dfdfdf;
    border: 2px solid #ffffff;
    font-size: 25px;
    font-weight: 500;
}

.login-btn:active {
    border: 2px solid #283EFF;
    background-color: #fff;
    color: #283EFF;
}

.link {
    padding: 10px 0;
    font-size: 25px;
    font-weight: 400;
}

a {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: blue;
}