.dashboard-container img{
    margin-top: 120px;
}

.display ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.display a {
    list-style: none;
}
