@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@400;600&family=Pacifico&family=Poppins:ital,wght@0,400;0,700;1,600&family=Roboto:wght@400;700&display=swap');

.forgot-password-component {
    /* padding-top: 80px; */
    text-align: center;
    background-color: #fff;
    justify-content: center;
    display: flex;
    background: rgb(69,255,222);
    background: linear-gradient(90deg, rgba(69,255,222,0) 0%, rgba(69,255,222,0.15) 100%);
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    height: 650px;
    width: 35%;
    box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 40%);
    padding: 50px 0;
    border-radius: 15px; 
    background-color: rgb(239, 239, 239);
}

div .forgot-password-text {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.forgot-password-text span.question-mk {
    color: #283EFF;
    padding: 0 10px;
}

/* .forgot-password-container div.forgot-password-image {
    padding: 10px 0;
    justify-content: center;
    display: flex;
} */

.forgot-password-images {
    display: flex;
    justify-content: center;
}

.container-ex-image {
    background-color: rgb(223, 221, 221); 
    border: 4px solid #B0B0B0;
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
    padding-bottom: 18px;
    /* padding: 20px; */
}

.new-email-password-description p.description{
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0;
}

div.forgot-password-form-container {
    border: 2px solid #B0B0B0;
    border-radius: 15px;
    background-color: #FFF;
    margin: 20px 30px;
}

div img.email-forgot-password-icon {
    height: 35px;
    width: 35px;
    position: absolute;
    margin: 13px 0 0 15px;
    z-index: 5;
}

div img.password-forgot-password-icon{
    height: 35px;
    width: 35px;
    position: absolute;
    margin: 13px 0 0 15px;
    z-index: 4;
}

div .forgot-password-name {
    width: 350px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
    margin: 5px 0;
}

div .email-forgot-password-text, .password-forgot-password-text {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0px;
    padding: 10px 0;
    font-size: 20px;
}

.forgot-password-name {
    padding-left: 70px;
    font-size: 20px;
}

.forgot-password-name::placeholder{
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.submit-btn {
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: #283EFF;
    border-radius: 2px solid #fff;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border: none;
    padding: 0;
    margin: 30px 0;
}

.submit-btn:hover {
    background-color: rgb(54, 121, 255);
    color: #dfdfdf;
    border: 2px solid #ffffff;
    font-size: 25px;
    font-weight: 500;
}

.submit-btn:active {
    border: 2px solid #283EFF;
    background-color: #fff;
    color: #283EFF;
}