.page {
    width: 100%;
}

div .title-1 {
    font-size: 20px;
    color: aqua;
}

.Navbar {
    position:fixed;
    z-index: 2;
    background: rgb(69,255,222);
    background: linear-gradient(90deg, rgba(69,255,222,1) 0%, rgba(23,120,242,1) 100%, rgba(69,219,254,1) 100%);
    margin-top: -20px;
}

.Navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 110px;
    align-items: center;
    justify-content: space-around;
    /* width: 100%; */
    margin: 0 30px;
}

.App-logo {
    text-decoration: none;
}

.App-logo h2{
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: 900;
}

.App-logo span {
    color: #1778F2;
}

.Navbar li {
    margin: 0 20px;
}

.search-box input {
    border-radius: 10px;
    width: 800px;
}

.search-button img {
    margin-left: -30px;
}

