.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 90px;
    /* border: 1px solid red; */
    margin-left: 5%;
    margin-right: 5%;
}

.products img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-size: 20px;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-12{
    width: 100%;
}

.form-group{
    margin-bottom: 10px;
}

.form-control{
    border-radius: 20px;
    border: 1px solid #61dafb;
    padding: 10px;
    font-size: 20px;
}


